.navbar-brand, .logo-brand {
    background: url(../../../../assets/logo.png) no-repeat scroll center center transparent;
    background-size: contain;
    width: 150px;
    margin: 10px 0 0 15px;
    overflow: hidden;
    text-indent: -9999em;
}
.navbar-brand {
    float: left;
    padding: 14px 15px;
    font-size: 20px;
    line-height: 22px;
}