<div class="grid-container ">
    <div class="grid-row display-flex flex-column flex-align-center1" style="margin-top: 10px;">
    
        <ul class="usa-card-group">
            <li class="tablet:grid-col-6 usa-card">
              <div class="usa-card__container">
                <div class="usa-card__body">
                  <p>
                    Overview
                  </p>
                  <p>
                      REI Systems 
                  </p>
                  <p>
                      Token : 0xbfbb6ee3968788eae1c3a20f4157f4e17b6ba4bf0
                  </p>
                </div>
              </div>
            </li>
            </ul>
        

        <table class="usa-table">
            <thead>
              <tr>
                <th scope="col">Txn Hash</th>
                <th scope="col">Method</th>
                <th scope="col">Block</th>
                <th scope="col">Age</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><span class="hash-tag text-truncate"> 0xbfbb6ee3968788eae1c3a20f4157f4e17b6ba4bf0a877f817e128620fbed6156 </span></td>
                  <td>Ownership Created</td>
                  <td>11503109</td>
                  <td>30 mins ago</td>
                  <td> <span class="hash-tag text-truncate"> 0xf28aeba929dba7e91335477b3e9ae788877a4d89 </span></td>
                  <td> REI Systems</td>
              </tr>
              <tr>
                  <td><span class="hash-tag text-truncate"> 0xbfbb6ee3968788eae1c3a20f4157f4e17b6ba4bf0a877f817e128620fbed6156 </span></td>
                  <td>Ownership Transferred</td>
                  <td>11503109</td>
                  <td>50 mins ago</td>
                  <td> <span class="hash-tag text-truncate"> 0xf28aeba929dba7e91335477b3e9ae788877a4d89 </span></td>
                  <td> REI Systems</td>
              </tr>
              <tr>
                  <td><span class="hash-tag text-truncate"> 0xbfbb6ee3968788eae1c3a20f4157f4e17b6ba4bf0a877f817e128620fbed6156 </span></td>
                  <td>Ownership Deleted</td>
                  <td>11503109</td>
                  <td>6 mins ago</td>
                  <td> <span class="hash-tag text-truncate"> 0xf28aeba929dba7e91335477b3e9ae788877a4d89 </span></td>
                  <td> REI Systems</td>
              </tr>
            </tbody>
          </table>
          

    </div>
</div>
