<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="/assets/img/logo.png" alt="">
                <br>
                <a href="">Privacy and Website Policies</a> | <a href="">USA.GOV</a> | <a href="">PERFORMANCE.GOV</a>   
            </div>
            <div class="col-sm-3">
                <ul>
                    <li>About</li>
                    <li>Open Government</li>
                    <li>Blog</li>
                    <li>Metrics</li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>    
    </div>
</footer>
